/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&family=Rubik:ital,wght@0,700;1,700&display=swap');

/* CSS variables*/
:root {
    /* Background Color */
    --bg-color: #262626;
    /*Foreground Color*/
    --fg-color: #fafafa;
    /* Accent */
    --accent-color: rgb(98, 214, 171);
    /* Accent when action such as hover effects or highlights are needed */
    --accent-color-action: #3a8469;
    
    /* Fonts */
    --heading-font: "Rubik", sans-serif;
    --paragraph-font: "Roboto Mono", sans-serif;

    /* Text Shadow */
    --text-shadow: 1px 1px 1px var(--bg-color);
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* General Style */

body {
    color: var(--fg-color);
    height: 100%;
    /* Fallback Background */
    background: var(--bg-color);
    background-repeat: no-repeat;
}

.title {
    font-size: 260%;
    font-family: var(--heading-font);
    color: var(--accent-color);
    text-shadow: var(--text-shadow);
}

.paragraph {
    width: 100%;
    font-size: 1.5em;
    font-family: var(--paragraph-font);
    text-shadow: var(--text-shadow);
}

.btn {
    color: var(--fg-color);
    font-family: var(--paragraph-font);
    background-color: transparent;
    border-radius: 10px;
    padding: 1em;
    border: 2px solid var(--accent-color);
    transition: 0.4s ease;
    width: 60% ;
    margin-top: 1em;
}

.btn:hover {
    color: var(--bg-color);
    background-color: var(--accent-color);
    border-radius: 10px;
}

.active {
    color: var(--accent-color) !important;
    text-decoration: underline;
}

.form-input {
    border: #e4e4e4 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
    height: 4em;
    width: 60%;
    padding-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

/* Glossy background style */
.glossy {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    margin: 2em 0;
}

.header__logo {
  text-align: center;
  width: 30%;
}

.header__navbar {
    display: flex;
    gap: 3em;
}

.header__navbar-item {
    color: var(--fg-color);
    font-family: var(--paragraph-font);
    font-size: 130%;
    font-weight: 400;
}

.header__navbar-item:hover:not(.active) {
    color: var( --accent-color-dark);
    text-decoration: underline;
}

/* Homepage - Sign up */

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5em 0;
    padding: 0 10%;
    gap: 10%;
}

.signup__title {
    width: 100%;
    font-size: 260%;
}

.signup__form {
    margin: 1em 0;
    display: grid;
    grid-template-rows: repeat(2, fr);
}

.signup__input {
    border: #e4e4e4 1px solid;
    border-radius: 10px;
    font-family: var(--paragraph-font);
    height: 4em;
    width: 60%;
    padding-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.signup__button {
    font-family: var(--paragraph-font);
    width: 30%;
    margin-top: 1em;
}

.signup__image {
    width: 50%;
    animation: fadeInAnimation ease 3s;
    transition: ease 0.4s;
}

.signup__image:hover {
    transform: scale(1.05);
}
/* Sign up image animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Homepage - Partner logos*/

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

h2.clients__title {
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0 1em 0;
}

.clients__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5em;
    padding: 3em;
    max-width: 70%;
    border: 1px solid #636262;
    border-radius: 6px;
    margin-bottom: 1em ;
}

.clients__partner-logo {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.clients__partner-logo:hover {
    transform: scale(1.2);
}

/* Home page - text with image */
.text-image {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;
}

.text-image__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-image__image {
    width: 80%;
    margin-bottom: 3em;
}

.text-image__btn {
    width: 100%;
}

.text-image__content {
    width: 80%;
}

/* Employee cards*/

.employee-cards {
    padding: 1em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.employee-cards > h2 {
    text-align: center;
    padding-bottom: 1em;
}

.employee-cards > a {
    text-align: center;
    min-width: 50%;
}

.employee-cards__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;

}

.employee-card {
    display: flex;
    flex-direction: row;
    padding: 2em;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid grey;
    border-radius: 6px;
    margin-bottom: 1em;
}

.employee-card:nth-child(even) {
    flex-direction: row-reverse;
}

.employee-card__content-left {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.employee-card__content-right {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.employee-card__title {
    font-size: 200%;
    color: var(--accent-color);
}

.employee-card__image {
    width: 90%;
    border-radius: 6px;
}

/* Testimonials */


/* 
* Testimonials cards
*/

#testimonials {
    width: 100%;
    background-color: var(--accent-color);
    padding: 1em;
}

.testimonials__container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 30% auto;
}

.testimonials__container 
p, 
h2 {
    color: var(--bg-color);
}

.testimonials__container
h2 {
    margin-top: 1em;
}

.testimonial-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 400px;
    margin: 1em;
    background-color: var(--bg-color);
    border-radius: 16px;

    /* Browser compatible box shadow*/
    box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
    -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
}

.card p {
    line-height: 1.5em;
    padding: 1em;
    color: var(--fg-color)
}

.card--image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1em auto;
}

/* Card headshots */
#pichai {
    background: content-box url(../images/sundar_pichai.png) center no-repeat;
    background-size: contain;
}

#cook {
    background: content-box url(../images/tim_cook.png) center no-repeat;
    background-size: contain;
}

#michael {
    background: content-box url(../images/michael_scott.png) center no-repeat;
    background-size: contain;
}

#bezos {
    background: content-box url(../images/jeff_bezos.webp) center no-repeat;
    background-size: contain;
}


/* Footer */

#footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 2px solid lightslategray;
    background-color: var(--bg-color);   
    gap: 1em;
    padding: 2em 5em;
    justify-content: center;
    align-items: center;
}

.footer__container {
    
}

.footer__social {
    
}

.footer__icon-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 150%;
    margin-top: 1em;
}

.fa-brands {
    color: var(--accent-color);
}

.fa-brands:hover {
    color: var(--accent-color-action);
}

/* Mobile Viewport */

@media screen and (max-width: 750px) {

    /* General mobile style */
    .paragraph {
        font-size: 1em;
    }
    
    .title {
        font-size: 2em;
    }

    .btn {
        background-color: var(--accent-color);
        color: var(--bg-color);
        width: 100%;
    }

    .mobile-hide {
        display: none;
    }

    /* Header mobile */
    .header {
        flex-direction: column;
        padding: 0;
        width: 100%;
        gap: 1.5em
    }

    /* Signups mobile */
    .signup {
        flex-direction: column;
    }

    .signup__form  input[type~=email] {
        padding: .5em;
    }

    .signup__form button {
        width: 100%;
    }

    .signup__image {
        width: 80%;
        margin-top: 1.5em;
    }
    
    /* Client Logos Section mobile */

    .clients h2 {
        padding-top: 1.5em;
        font-size: 2.1em;
        color: var(--fg-color);
    }

    .clients__logos {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
        border: none;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        border-radius: 0;
    }

    .clients__partner-logo {
        width: 70%;
        margin: 0 auto;
    }

    /* Text with image */
    .text-image {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .text-image__title {
        width: 100%;
    }
    .text-image__content p {
        margin-top: 1em;
    }

    /* Employee cards mobile*/

    .employee-cards {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .employee-cards__container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 90%;
        gap: 1em;
    }

    .employee-card {
        display: flex;
        flex-direction: column-reverse;
        padding: 1em 0;
        justify-content: space-around;
        align-items: center;
        border-radius: 4px;
        gap: 1em
    }

    .employee-card__image {
        width: 100%;
        border-radius: 4px;
    }

    .employee-card__title {
        font-size: 1.5em;
        color: var(--accent-color);
    }

    .employee-card:nth-child(even) {
        display: flex;
        flex-direction: column-reverse;
        padding: 1em 0;
        justify-content: space-around;
        align-items: center;
        border-radius: 4px;
        gap: 1em
    }

    /* 
    * Testimonials cards - mobile
    */

    #testimonials {
        padding: 0;
    }

    .testimonials__container {
        grid-template-columns: none;
        grid-template-rows: auto 1fr;
    }

    /*testimonial title margin from top*/
    .testimonials__container
    h2 {
        margin-top: 1em;
    }

    .testimonial-cards {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 1em;
        background-color: var(--bg-color);

        /* Browser compatible box shadow*/
        box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
        -webkit-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 33px -6px rgba(0,0,0,0.45);
    }

    .card p {
        line-height: 1.5em;
        padding: 1em;
        color: var(--fg-color)
    }

    .card--image {
        border-radius: 50%;
        margin: 1em auto;
    }

    /*
    * Footer - Mobile 
    */
    #footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 2em;
    }
}