/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,600;1,400&family=Rubik:ital,wght@0,700;1,700&display=swap');

/* CSS variables*/
:root {
    /* Background Color */
    --bg-color: #262626;
    /*Foreground Color*/
    --fg-color: #fafafa;
    --accent-color: #62d6ab;
    --accent-highlihgts: #3df4b1;
    --accebt-color-3: #A4036F;
    
    /* Fonts */
    --heading-font: "Rubik", sans-serif;
    --paragraph-font: "Roboto Mono", sans-serif;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* General Style */

body {
    color: var(--fg-color);
    height: 100%;
    /* Fallback Background */
    background: var(--bg-color);
    /* Gradient Background */
    background: -moz-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(68,68,68,1) 35%, rgba(66,66,66,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(68,68,68,1) 35%, rgba(66,66,66,1) 100%);
    background: linear-gradient(0deg, rgba(38,38,38,1) 0%, rgba(68,68,68,1) 35%, rgba(66,66,66,1) 100%);
    background-repeat: no-repeat;
}

.title {
    font-size: 260%;
    font-family: var(--heading-font);
    color: var(--accent-color);
}

.btn {
    color: var(--fg-color);
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
    transition: 0.4s ease;
}

.btn:hover {
    color: var(--bg-color);
    background-color: var(--accent-color);
    border-radius: 10px;
}

.paragraph {
    width: 100%;
    font-size: 1.5em;
    font-family: var(--paragraph-font);
}

.active {
    color: var(--accent-color) !important;
    text-decoration: underline;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    margin: 2em 0;
}

.header__logo {
  text-align: center;
  width: 30%;
}

.header__navbar {
    display: flex;
    gap: 3em;
}

.header__navbar-item {
    color: var(--fg-color);
    font-family: var(--paragraph-font);
    font-size: 130%;
    font-weight: 400;
}

.header__navbar-item:hover:not(.active) {
    color: var(--accent-highlihgts);
    text-decoration: underline;
}

/* Homepage - Sign up */

.signup {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10em 0;
    padding: 0 10%;
    gap: 10%;
}

.signup__title {
    width: 100%;
    font-size: 260%;
}

.signup__form {
    margin: 1em 0;
}

.signup__input {
    border: #e4e4e4 1px solid;
    border-radius: 10px;
    font-family: var(--paragraph-font);
    height: 4em;
    width: 60%;
    padding-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
}

.signup__button {
    font-family: var(--paragraph-font);
    padding: 1.5em;
}

.signup__image {
    width: 50%;
    animation: fadeInAnimation ease 3s;
    transition: ease 0.4s;
}

.signup__image:hover {
    transform: scale(1.05);
}
/* Sign up image animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Homepage - Partner logos*/

.clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

h2.clients__title {
    text-align: center;
    font-size: 3em;
    padding: 0.5em 0 1em 0;
    transition:  0.4s ease;
}

h2.clients__title:hover {
    color: var(--accent-highlihgts);
}

.clients__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 5em;
    padding: 3em;
    max-width: 70%;
    border: 3px solid #636262;
    border-radius: 6px;
    background-color: #262626;
    margin-bottom: 5em ;
}

.clients__partner-logo {
    width: 100%;
    transition: 0.4s ease-in-out;
}

.clients__partner-logo:hover {
    transform: scale(1.2);
}

/* Home page - text with image */
.text-image {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 4em 0;
}

.text-image__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-image__image {
    width: 80%;
    margin-bottom: 3em;
}

.text-image__button {
    padding: 1em 5em;
}

.text-image__content {
    width: 80%;
}

h2.text-image__title {
    font-size: 10em;
}